:root {
    --bg-color: #f2f2f1;
    --box-shadow: 0px 8px 16px rgba(171, 171, 203, 0.15);
  }
  
  body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: "OverpassMono", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @font-face {
    font-family: "OverpassMono";
    src: url("./assets/fonts/OverpassMono-Bold.ttf") format("truetype"),
    url("./assets/fonts/OverpassMono-Bold.woff") format("woff"),
    url("./assets/fonts/OverpassMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "OverpassMono";
    src: url("./assets/fonts/OverpassMono-Light.ttf") format("truetype"),
    url("./assets/fonts/OverpassMono-Light.woff") format("woff"),
    url("./assets/fonts/OverpassMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "OverpassMono";
    src: url("./assets/fonts/OverpassMono-Medium.ttf") format("truetype"),
    url("./assets/fonts/OverpassMono-Medium.woff") format("woff"),
    url("./assets/fonts/OverpassMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "OverpassMono";
    src: url("./assets/fonts/OverpassMono-Regular.ttf") format("truetype"),
    url("./assets/fonts/OverpassMono-Regular.woff") format("woff"),
    url("./assets/fonts/OverpassMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "OverpassMono";
    src: url("./assets/fonts/OverpassMono-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/OverpassMono-SemiBold.woff") format("woff"),
    url("./assets/fonts/OverpassMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    margin: 0;
  }
  
  .wrapper {
    padding: 0 40px;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .no-page {
    padding: 50px 0;
  }
  
  img {
    width: 100%;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
  }
  